<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myapp">
<head>
    <title>File System</title>
    <script src="Scripts/angular.min.js"></script>
    <style>li{list-style-type: none;}</style>
</head>
<body ng-controller="FileInfoesController">
    <!--<table border="1">
        <tr>
            <th>Less 10Mb</th>
            <th>10Mb-50Mb</th>
            <th>More 100Mb</th>
        </tr>
        <tr ng-repeat="FileInfo in li">
            <th>{{FileInfo.SizeSmall}}</th>
            <th>{{FileInfo.SizeMiddle}}</th>
            <th>{{FileInfo.SizeBig}}</th>
        </tr>
    </table>-->
    <table border="1">
        <tr>
            <th>Less 10Mb</th>
            <th>10Mb-50Mb</th>
            <th>More 100Mb</th>
        </tr>
        <tr ng-repeat="FileInfo in li">
            <th>{{FileInfo.SizeSmall}}</th>
            <th>{{FileInfo.SizeMiddle}}</th>
            <th>{{FileInfo.SizeBig}}</th>
        </tr>
    </table>

    <p ng-repeat="FileInfo in li">{{FileInfo.Error}}</p>
    <br />
    Current path: <span  ng-bind="li[0].Puth">{{FileInfo.Puth}}</span>
    <br />
    
    <ul ng-repeat="FileInfo in li">
        <li>
            <a href="" ng-click="someMethod(FileInfo.Puth + FileInfo.DirectoryName)">{{FileInfo.DirectoryName}}</a>
        </li>
    </ul>
    <ul ng-repeat="FileInfo in li">
        <li>
            <span>{{FileInfo.FileName}}</span>
        </li>
    </ul>
   
    <a href="" ng-click="linM(FileInfo.DirectoryName)">qwe</a>
    
     <script type="text/javascript">
        var myapp = angular.module("myapp", [])
        myapp.controller("FileInfoesController", function ($scope, $http) {
            $http.get("http://localhost:58303/api/FileInfoDataes").success(function (response) {
                $scope.li = response;
            });
            
        
            $scope.someMethod = function (path) {
                
                $http.get("http://localhost:58303/api/FileInfoDataes/findAll?id=" + path).success(function (response) {
                        $scope.li = response;
                   });
            };
        
            $scope.linM = function (path) {

                $http.post("http://localhost:58303/api/FileInfoDataes/findAll?id=" + path).success(function (response) {
                    $scope.li = response;
                });
            };

        });
        
       
     </script>
</body>
</html>
